{"filter":false,"title":".eslintrc","tooltip":"/.eslintrc","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":16},"end":{"row":4,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1631928651537,"hash":"87f81791f3be898be3d0ef73f2b7dbf5867f2688"}