{
  "globals": {
    "Vue": false,
    "p5": false,
    "d3": false,
    "window": false,
    "self": false,
    "document": false,
    "name": false,
    "location": false,
    "customElements": false,
    "history": false,
    "locationbar": false,
    "menubar": false,
    "personalbar": false,
    "scrollbars": false,
    "statusbar": false,
    "toolbar": false,
    "status": false,
    "closed": false,
    "frames": false,
    "length": false,
    "top": false,
    "opener": false,
    "parent": false,
    "frameElement": false,
    "navigator": false,
    "origin": false,
    "external": false,
    "screen": false,
    "innerWidth": false,
    "innerHeight": false,
    "scrollX": false,
    "pageXOffset": false,
    "scrollY": false,
    "pageYOffset": false,
    "visualViewport": false,
    "screenX": false,
    "screenY": false,
    "outerWidth": false,
    "outerHeight": false,
    "devicePixelRatio": false,
    "clientInformation": false,
    "screenLeft": false,
    "screenTop": false,
    "defaultStatus": false,
    "defaultstatus": false,
    "styleMedia": false,
    "onsearch": false,
    "isSecureContext": false,
    "performance": false,
    "onappinstalled": false,
    "onbeforeinstallprompt": false,
    "crypto": false,
    "indexedDB": false,
    "webkitStorageInfo": false,
    "sessionStorage": false,
    "localStorage": false,
    "onbeforexrselect": false,
    "onabort": false,
    "onblur": false,
    "oncancel": false,
    "oncanplay": false,
    "oncanplaythrough": false,
    "onchange": false,
    "onclick": false,
    "onclose": false,
    "oncontextmenu": false,
    "oncuechange": false,
    "ondblclick": false,
    "ondrag": false,
    "ondragend": false,
    "ondragenter": false,
    "ondragleave": false,
    "ondragover": false,
    "ondragstart": false,
    "ondrop": false,
    "ondurationchange": false,
    "onemptied": false,
    "onended": false,
    "onerror": false,
    "onfocus": false,
    "onformdata": false,
    "oninput": false,
    "oninvalid": false,
    "onkeydown": false,
    "onkeypress": false,
    "onkeyup": false,
    "onload": false,
    "onloadeddata": false,
    "onloadedmetadata": false,
    "onloadstart": false,
    "onmousedown": false,
    "onmouseenter": false,
    "onmouseleave": false,
    "onmousemove": false,
    "onmouseout": false,
    "onmouseover": false,
    "onmouseup": false,
    "onmousewheel": false,
    "onpause": false,
    "onplay": false,
    "onplaying": false,
    "onprogress": false,
    "onratechange": false,
    "onreset": false,
    "onresize": false,
    "onscroll": false,
    "onseeked": false,
    "onseeking": false,
    "onselect": false,
    "onstalled": false,
    "onsubmit": false,
    "onsuspend": false,
    "ontimeupdate": false,
    "ontoggle": false,
    "onvolumechange": false,
    "onwaiting": false,
    "onwebkitanimationend": false,
    "onwebkitanimationiteration": false,
    "onwebkitanimationstart": false,
    "onwebkittransitionend": false,
    "onwheel": false,
    "onauxclick": false,
    "ongotpointercapture": false,
    "onlostpointercapture": false,
    "onpointerdown": false,
    "onpointermove": false,
    "onpointerup": false,
    "onpointercancel": false,
    "onpointerover": false,
    "onpointerout": false,
    "onpointerenter": false,
    "onpointerleave": false,
    "onselectstart": false,
    "onselectionchange": false,
    "onanimationend": false,
    "onanimationiteration": false,
    "onanimationstart": false,
    "ontransitionrun": false,
    "ontransitionstart": false,
    "ontransitionend": false,
    "ontransitioncancel": false,
    "onafterprint": false,
    "onbeforeprint": false,
    "onbeforeunload": false,
    "onhashchange": false,
    "onlanguagechange": false,
    "onmessage": false,
    "onmessageerror": false,
    "onoffline": false,
    "ononline": false,
    "onpagehide": false,
    "onpageshow": false,
    "onpopstate": false,
    "onrejectionhandled": false,
    "onstorage": false,
    "onunhandledrejection": false,
    "onunload": false,
    "alert": false,
    "atob": false,
    "blur": false,
    "btoa": false,
    "cancelAnimationFrame": false,
    "cancelIdleCallback": false,
    "captureEvents": false,
    "clearInterval": false,
    "clearTimeout": false,
    "close": false,
    "confirm": false,
    "createImageBitmap": false,
    "fetch": false,
    "find": false,
    "focus": false,
    "getComputedStyle": false,
    "getSelection": false,
    "matchMedia": false,
    "moveBy": false,
    "moveTo": false,
    "open": false,
    "postMessage": false,
    "print": false,
    "prompt": false,
    "queueMicrotask": false,
    "releaseEvents": false,
    "requestAnimationFrame": false,
    "requestIdleCallback": false,
    "resizeBy": false,
    "resizeTo": false,
    "scroll": false,
    "scrollBy": false,
    "scrollTo": false,
    "setInterval": false,
    "setTimeout": false,
    "stop": false,
    "webkitCancelAnimationFrame": false,
    "webkitRequestAnimationFrame": false,
    "chrome": false,
    "caches": false,
    "cookieStore": false,
    "ondevicemotion": false,
    "ondeviceorientation": false,
    "ondeviceorientationabsolute": false,
    "showDirectoryPicker": false,
    "showOpenFilePicker": false,
    "showSaveFilePicker": false,
    "speechSynthesis": false,
    "originAgentCluster": false,
    "onpointerrawupdate": false,
    "trustedTypes": false,
    "crossOriginIsolated": false,
    "openDatabase": false,
    "webkitRequestFileSystem": false,
    "webkitResolveLocalFileSystemURL": false,
    "offs": false,
    "objectUrls": false,
    "objectPaths": false,
    "editorOrigin": false,
    "TONE_SILENCE_VERSION_LOGGING": false,
    "core": false,
    "setImmediate": false,
    "clearImmediate": false,
    "regeneratorRuntime": false,
    "_babelPolyfill": false,
    "DEBUG": false,
    "loopProtect": false,
    "setup": false,
    "draw": false,
    "VERSION": false,
    "P2D": false,
    "WEBGL": false,
    "ARROW": false,
    "CROSS": false,
    "HAND": false,
    "MOVE": false,
    "TEXT": false,
    "WAIT": false,
    "HALF_PI": false,
    "PI": false,
    "QUARTER_PI": false,
    "TAU": false,
    "TWO_PI": false,
    "DEGREES": false,
    "RADIANS": false,
    "DEG_TO_RAD": false,
    "RAD_TO_DEG": false,
    "CORNER": false,
    "CORNERS": false,
    "RADIUS": false,
    "RIGHT": false,
    "LEFT": false,
    "CENTER": false,
    "TOP": false,
    "BOTTOM": false,
    "BASELINE": false,
    "POINTS": false,
    "LINES": false,
    "LINE_STRIP": false,
    "LINE_LOOP": false,
    "TRIANGLES": false,
    "TRIANGLE_FAN": false,
    "TRIANGLE_STRIP": false,
    "QUADS": false,
    "QUAD_STRIP": false,
    "TESS": false,
    "CLOSE": false,
    "OPEN": false,
    "CHORD": false,
    "PIE": false,
    "PROJECT": false,
    "SQUARE": false,
    "ROUND": false,
    "BEVEL": false,
    "MITER": false,
    "RGB": false,
    "HSB": false,
    "HSL": false,
    "AUTO": false,
    "ALT": false,
    "BACKSPACE": false,
    "CONTROL": false,
    "DELETE": false,
    "DOWN_ARROW": false,
    "ENTER": false,
    "ESCAPE": false,
    "LEFT_ARROW": false,
    "OPTION": false,
    "RETURN": false,
    "RIGHT_ARROW": false,
    "SHIFT": false,
    "TAB": false,
    "UP_ARROW": false,
    "BLEND": false,
    "REMOVE": false,
    "ADD": false,
    "DARKEST": false,
    "LIGHTEST": false,
    "DIFFERENCE": false,
    "SUBTRACT": false,
    "EXCLUSION": false,
    "MULTIPLY": false,
    "SCREEN": false,
    "REPLACE": false,
    "OVERLAY": false,
    "HARD_LIGHT": false,
    "SOFT_LIGHT": false,
    "DODGE": false,
    "BURN": false,
    "THRESHOLD": false,
    "GRAY": false,
    "OPAQUE": false,
    "INVERT": false,
    "POSTERIZE": false,
    "DILATE": false,
    "ERODE": false,
    "BLUR": false,
    "NORMAL": false,
    "ITALIC": false,
    "BOLD": false,
    "BOLDITALIC": false,
    "CHAR": false,
    "WORD": false,
    "_DEFAULT_TEXT_FILL": false,
    "_DEFAULT_LEADMULT": false,
    "_CTX_MIDDLE": false,
    "LINEAR": false,
    "QUADRATIC": false,
    "BEZIER": false,
    "CURVE": false,
    "STROKE": false,
    "FILL": false,
    "TEXTURE": false,
    "IMMEDIATE": false,
    "IMAGE": false,
    "NEAREST": false,
    "REPEAT": false,
    "CLAMP": false,
    "MIRROR": false,
    "LANDSCAPE": false,
    "PORTRAIT": false,
    "_DEFAULT_STROKE": false,
    "_DEFAULT_FILL": false,
    "GRID": false,
    "AXES": false,
    "LABEL": false,
    "FALLBACK": false,
    "_preloadMethods": false,
    "_registeredMethods": false,
    "_registeredPreloadMethods": false,
    "_frameRate": false,
    "_lastFrameTime": false,
    "_targetFrameRate": false,
    "frameCount": false,
    "deltaTime": false,
    "focused": false,
    "cursor": false,
    "frameRate": false,
    "getFrameRate": false,
    "setFrameRate": false,
    "noCursor": false,
    "displayWidth": false,
    "displayHeight": false,
    "windowWidth": false,
    "windowHeight": false,
    "_onresize": false,
    "width": false,
    "height": false,
    "fullscreen": false,
    "pixelDensity": false,
    "displayDensity": false,
    "getURL": false,
    "getURLPath": false,
    "getURLParams": false,
    "_validateParameters": false,
    "_helpForMisusedAtTopLevelCode": false,
    "pushStyle": false,
    "popStyle": false,
    "popMatrix": false,
    "pushMatrix": false,
    "_promisePreloads": false,
    "registerPromisePreload": false,
    "_setupPromisePreloads": false,
    "_wrapPromisePreload": false,
    "_legacyPreloadGenerator": false,
    "camera": false,
    "perspective": false,
    "ortho": false,
    "frustum": false,
    "createCamera": false,
    "setCamera": false,
    "setAttributes": false,
    "_assert3d": false,
    "createCanvas": false,
    "resizeCanvas": false,
    "noCanvas": false,
    "createGraphics": false,
    "blendMode": false,
    "noLoop": false,
    "loop": false,
    "isLooping": false,
    "push": false,
    "pop": false,
    "redraw": false,
    "applyMatrix": false,
    "resetMatrix": false,
    "rotate": false,
    "rotateX": false,
    "rotateY": false,
    "rotateZ": false,
    "scale": false,
    "shearX": false,
    "shearY": false,
    "translate": false,
    "_normalizeArcAngles": false,
    "arc": false,
    "ellipse": false,
    "circle": false,
    "_renderEllipse": false,
    "line": false,
    "point": false,
    "quad": false,
    "rect": false,
    "square": false,
    "_renderRect": false,
    "triangle": false,
    "ellipseMode": false,
    "noSmooth": false,
    "rectMode": false,
    "smooth": false,
    "strokeCap": false,
    "strokeJoin": false,
    "strokeWeight": false,
    "bezier": false,
    "bezierDetail": false,
    "bezierPoint": false,
    "bezierTangent": false,
    "curve": false,
    "curveDetail": false,
    "curveTightness": false,
    "curvePoint": false,
    "curveTangent": false,
    "beginContour": false,
    "beginShape": false,
    "bezierVertex": false,
    "curveVertex": false,
    "endContour": false,
    "endShape": false,
    "quadraticVertex": false,
    "vertex": false,
    "normal": false,
    "textOutput": false,
    "gridOutput": false,
    "_addAccsOutput": false,
    "_createOutput": false,
    "_updateAccsOutput": false,
    "_accsBackground": false,
    "_accsCanvasColors": false,
    "_accsOutput": false,
    "_updateTextOutput": false,
    "_updateGridOutput": false,
    "_rgbColorName": false,
    "alpha": false,
    "blue": false,
    "brightness": false,
    "color": false,
    "green": false,
    "hue": false,
    "lerpColor": false,
    "lightness": false,
    "red": false,
    "saturation": false,
    "background": false,
    "clear": false,
    "colorMode": false,
    "fill": false,
    "noFill": false,
    "noStroke": false,
    "stroke": false,
    "erase": false,
    "noErase": false,
    "createStringDict": false,
    "createNumberDict": false,
    "storeItem": false,
    "getItem": false,
    "clearStorage": false,
    "removeItem": false,
    "select": false,
    "selectAll": false,
    "_getContainer": false,
    "_wrapElement": false,
    "removeElements": false,
    "createDiv": false,
    "createP": false,
    "createSpan": false,
    "createImg": false,
    "createA": false,
    "createSlider": false,
    "createButton": false,
    "createCheckbox": false,
    "createSelect": false,
    "createRadio": false,
    "createColorPicker": false,
    "createInput": false,
    "createFileInput": false,
    "createVideo": false,
    "createAudio": false,
    "VIDEO": false,
    "AUDIO": false,
    "createCapture": false,
    "createElement": false,
    "describe": false,
    "describeElement": false,
    "_describeHTML": false,
    "_describeElementHTML": false,
    "deviceOrientation": false,
    "accelerationX": false,
    "accelerationY": false,
    "accelerationZ": false,
    "pAccelerationX": false,
    "pAccelerationY": false,
    "pAccelerationZ": false,
    "_updatePAccelerations": false,
    "rotationX": false,
    "rotationY": false,
    "rotationZ": false,
    "pRotationX": false,
    "pRotationY": false,
    "pRotationZ": false,
    "pRotateDirectionX": false,
    "pRotateDirectionY": false,
    "pRotateDirectionZ": false,
    "_updatePRotations": false,
    "turnAxis": false,
    "setMoveThreshold": false,
    "setShakeThreshold": false,
    "_ondeviceorientation": false,
    "_ondevicemotion": false,
    "_handleMotion": false,
    "isKeyPressed": false,
    "keyIsPressed": false,
    "key": false,
    "keyCode": false,
    "_onkeydown": false,
    "_onkeyup": false,
    "_onkeypress": false,
    "_onblur": false,
    "keyIsDown": false,
    "_areDownKeys": false,
    "movedX": false,
    "movedY": false,
    "_hasMouseInteracted": false,
    "mouseX": false,
    "mouseY": false,
    "pmouseX": false,
    "pmouseY": false,
    "winMouseX": false,
    "winMouseY": false,
    "pwinMouseX": false,
    "pwinMouseY": false,
    "mouseButton": false,
    "mouseIsPressed": false,
    "_updateNextMouseCoords": false,
    "_updateMouseCoords": false,
    "_setMouseButton": false,
    "_onmousemove": false,
    "_onmousedown": false,
    "_onmouseup": false,
    "_ondragend": false,
    "_ondragover": false,
    "_onclick": false,
    "_ondblclick": false,
    "_mouseWheelDeltaY": false,
    "_pmouseWheelDeltaY": false,
    "_onwheel": false,
    "requestPointerLock": false,
    "exitPointerLock": false,
    "touches": false,
    "_updateTouchCoords": false,
    "_ontouchstart": false,
    "_ontouchmove": false,
    "_ontouchend": false,
    "createImage": false,
    "saveCanvas": false,
    "saveGif": false,
    "saveFrames": false,
    "_makeFrame": false,
    "loadImage": false,
    "image": false,
    "tint": false,
    "noTint": false,
    "_getTintedImageCanvas": false,
    "imageMode": false,
    "pixels": false,
    "blend": false,
    "copy": false,
    "_copyHelper": false,
    "filter": false,
    "get": false,
    "loadPixels": false,
    "set": false,
    "updatePixels": false,
    "loadJSON": false,
    "loadStrings": false,
    "loadTable": false,
    "loadXML": false,
    "loadBytes": false,
    "httpGet": false,
    "httpPost": false,
    "httpDo": false,
    "_pWriters": false,
    "createWriter": false,
    "save": false,
    "saveJSON": false,
    "saveJSONObject": false,
    "saveJSONArray": false,
    "saveStrings": false,
    "saveTable": false,
    "writeFile": false,
    "downloadFile": false,
    "_checkFileExtension": false,
    "_isSafari": false,
    "abs": false,
    "ceil": false,
    "constrain": false,
    "dist": false,
    "exp": false,
    "floor": false,
    "lerp": false,
    "log": false,
    "mag": false,
    "map": false,
    "max": false,
    "min": false,
    "norm": false,
    "pow": false,
    "round": false,
    "sq": false,
    "sqrt": false,
    "fract": false,
    "createVector": false,
    "noise": false,
    "noiseDetail": false,
    "noiseSeed": false,
    "_lcg": false,
    "_lcgSetSeed": false,
    "randomSeed": false,
    "random": false,
    "randomGaussian": false,
    "_angleMode": false,
    "acos": false,
    "asin": false,
    "atan": false,
    "atan2": false,
    "cos": false,
    "sin": false,
    "tan": false,
    "degrees": false,
    "radians": false,
    "angleMode": false,
    "_toRadians": false,
    "_toDegrees": false,
    "_fromRadians": false,
    "textAlign": false,
    "textLeading": false,
    "textSize": false,
    "textStyle": false,
    "textWidth": false,
    "textAscent": false,
    "textDescent": false,
    "_updateTextMetrics": false,
    "textWrap": false,
    "loadFont": false,
    "text": false,
    "textFont": false,
    "append": false,
    "arrayCopy": false,
    "concat": false,
    "reverse": false,
    "shorten": false,
    "shuffle": false,
    "sort": false,
    "splice": false,
    "subset": false,
    "float": false,
    "int": false,
    "str": false,
    "boolean": false,
    "byte": false,
    "char": false,
    "unchar": false,
    "hex": false,
    "unhex": false,
    "join": false,
    "match": false,
    "matchAll": false,
    "nf": false,
    "nfc": false,
    "nfp": false,
    "nfs": false,
    "split": false,
    "splitTokens": false,
    "trim": false,
    "day": false,
    "hour": false,
    "minute": false,
    "millis": false,
    "month": false,
    "second": false,
    "year": false,
    "plane": false,
    "box": false,
    "sphere": false,
    "cylinder": false,
    "cone": false,
    "ellipsoid": false,
    "torus": false,
    "orbitControl": false,
    "debugMode": false,
    "noDebugMode": false,
    "_grid": false,
    "_axesIcon": false,
    "ambientLight": false,
    "specularColor": false,
    "directionalLight": false,
    "pointLight": false,
    "lights": false,
    "lightFalloff": false,
    "spotLight": false,
    "noLights": false,
    "loadModel": false,
    "model": false,
    "loadShader": false,
    "createShader": false,
    "shader": false,
    "resetShader": false,
    "texture": false,
    "textureMode": false,
    "textureWrap": false,
    "normalMaterial": false,
    "ambientMaterial": false,
    "emissiveMaterial": false,
    "specularMaterial": false,
    "shininess": false,
    "isSupported": false,
    "isFileSupported": false,
    "getOutputVolume": false,
    "outputVolume": false,
    "soundOut": false,
    "setBPM": false,
    "getAudioContext": false,
    "userStartAudio": false,
    "sampleRate": false,
    "freqToMidi": false,
    "midiToFreq": false,
    "noteToFreq": false,
    "soundFormats": false,
    "disposeSound": false,
    "_checkFileFormats": false,
    "_mathChain": false,
    "convertToWav": false,
    "interleave": false,
    "writeUTFBytes": false,
    "safeBufferSize": false,
    "saveSound": false,
    "loadSound": false,
    "createConvolver": false
  }
}
